//Set colors
$star: #f34336;
$bg: #1d1e22;
$hattop: #5a453d;
$hatmid: #bdbdbd;
$hatbot: #848484;
$body: #be8c3e;
$body2: #633e1d;
$nose: #000;
$tongue: #9f1414;
$eyes: #000;
$eyes2: #fff;
$label: #F44336;

html, body{
  min-height: 100vh;
  position: relative; 
}

body{
  background: $bg;
  margin: 0;
}

.bear-section{
  width: 100%;
  height: 100%;
  text-align: center;
}

#bear{
  display:inline-block;
  height: 90%;
  position: relative;
  
  &:hover{
    cursor: pointer;
    
    .paws:after{
      transform: rotate(-80deg);
    }
    .paws:before{
      transform: rotate(80deg);
    }
  }
  
  
  .ushanka{
    position: absolute;
    width: 100%;
    margin-top: -5vh;
    
    .top{
      width: 40vh;
      height: 14vh;
      display: block;
      margin: -3vh auto 0 auto;
      background: $hattop;
      border-radius: 8vh 8vh 1vh 1vh;
    }
    
    .middle{
      width: 47vh;
      height: 14vh;
      position: relative;
      z-index: 1;
      margin: -6vh 0 0 -1vh;
      background: $hatmid;
      border-radius: 8vh 8vh 3vh 3vh;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      align-items: center;
      
      .star {
         position: relative;
         display: block;
         color: $star;
         width: 0px;
         height: 0px;
         border-right:  5vh solid transparent;
         border-bottom: 3.5vh  solid $star;
         border-left:   5vh solid transparent;
         -moz-transform:    rotate(35deg);
         -webkit-transform: rotate(35deg);
         -ms-transform:     rotate(35deg);
         -o-transform:      rotate(35deg);
        
        
        &:before {
          border-bottom: 4vh solid $star;
          border-left: 1.5vh solid transparent;
          border-right: 1.5vh solid transparent;
          position: absolute;
          height: 0;
          width: 0;
          top: -2.25vh;
          left: -3.25vh;
          display: block;
          content: '';
          -webkit-transform: rotate(-35deg);
          -moz-transform:    rotate(-35deg);
          -ms-transform:     rotate(-35deg);
          -o-transform:      rotate(-35deg);
        }

        &:after {
          position: absolute;
          display: block;
          color: $star;
          top: 0.15vh;
          left: -5.25vh;
          width: 0px;
          height: 0px;
          border-right: 5vh solid transparent;
          border-bottom: 3.5vh solid $star;
          border-left: 5vh solid transparent;
          -webkit-transform: rotate(-70deg);
          -moz-transform:    rotate(-70deg);
          -ms-transform:     rotate(-70deg);
          -o-transform:      rotate(-70deg);
          content: '';
        }
      }
    }
    
    .bottom{
      height: 22vh;
      width: 62vh;
      margin-top: -3vh;
      margin-left: -8.5vh;
      position:relative;
      
      &:before, &:after{
        content: '';
        width: 8vh;
        height: 12vh;
        display: inline-block;
        vertical-align: top;
      }
      
      &:before{
        float:left;
        border-radius: 0 0 10vh 2vh;
        border-bottom: 6vh solid $hatbot;
        border-right: 6vh solid $hatbot;
      }
      
      &:after{
        float:right;
        border-radius: 0 0 2vh 10vh;
        border-bottom: 6vh solid $hatbot;
        border-left: 6vh solid $hatbot;
      }
    }
  }

  .head{
    width: 45vh;
    height: 40vh;
    margin-top: 15vh;
    background: $body;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    box-shadow: inset 0px -5px 0px 0px darken($body, 10%);
  }
  
  .muzzle{
    width: 19vh;
    height: 15vh;
    left: 0;
    right: 0;
    background: $body2;
    margin: 0 auto;
    position: absolute;
    top: 54%;
    border-radius: 50%;
    
    .nose{
      width: 7vh;
      height: 5vh;
      background: $nose;
      margin: 2vh auto 0 auto;
      box-shadow: inset 0px 4px 0px 0px lighten($nose, 10%);
      border-radius: 50%;
      position: relative;
      z-index: 2;
    }
    
    .mouth{
      width: 16vh;
      height: 8vh;
      margin: -3vh auto 0 auto;
      border-radius: 50%;
      font-size: 0;
      position: relative;
      z-index: 1;
      
      &:before, &:after{
        content:'';
        width: 5vh;
        height: 6vh;
        display:inline-block;
        vertical-align: top;
        border-radius: 10vh;
        background: $body2;
        border-bottom: 1vh solid darken($body2, 11%);
      }
      
      &:before{
        border-right: 1vh solid darken($body2, 11%);
        transform:translateX(1px);
        -webkit-transform:translateX(1px);
      }
      &:after{
        border-left: 1vh solid darken($body2, 11%);
        transform:translateX(-1px);
        -webkit-transform:translateX(-1px);
      }
    }
    
    .tongue{
      width: 3vh;
      height: 4.5vh;
      background: $tongue;
      margin: -4vh auto 0 auto;
      border-radius: 0 0 50% 50%;
      position: relative;
    }
  }

  @keyframes blinking{
    0%{height: 6vh;}
    90%{height: 6vh;}
    100%{height: 0vh;}
  }
  .eyes{
    width: 20vh;
    height: 6vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: center;
    animation: blinking 3s linear infinite ;
    overflow: hidden;

    &:before, &:after{
      content: "";
      height: 6vh;
      width: 3.5vh;
      background: $eyes;
      display: inline-block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    
    &:before{
      float:left;
      left: 0;
      box-shadow: inset 0px 1.5vh 0px 0px $eyes2;
    }
    &:after{
      right: 0;
      float:right;
      box-shadow: inset 0px 1.5vh 0px 0px $eyes2;
    }
  }
  
  .body{
    width: 40vh;
    height: 35vh;
    margin: 0 auto;
    margin-top: -10vh;
    background: #6f451f;
    position: relative;
    -webkit-border-radius: 50% 50% 50% 50% / 80% 80% 30% 30%;
    border-radius: 50% 50% 50% 50% / 80% 80% 30% 30%;
  }
  #heart{
    width: 1vh;
    height: 1vh;
    position: absolute;
    right: 7vh;
    top: 12vh;
  }
  .paws:before, .paws:after{
      content: "";
      width: 14vh;
      height: 32vh;
      top: -6px;
      background: darken($body, 5%);
      display: block;
      position: absolute;
      z-index: -1;
      transition: transform 2s ease-out;
    }
    
    .paws:before{
      left: 30px;
      border-radius: 50% 50% 50% 50% / 30% 30% 50% 50%;
      transform-origin: 0px 0px;
      transform: rotate(45deg);
      box-shadow: inset 3px -11px 0px 0px hsla(28, 56%, 28%, 0.81);
    }
    
    .paws:after{
      right: 30px;
      border-radius: 50% 50% 50% 50% / 30% 30% 50% 50%;
      transform-origin: 100% 0px;
      transform: rotate(-45deg);
      box-shadow: inset -3px -11px 0px 0px hsla(28, 56%, 28%, 0.81);
    }
    
    .legs{
      width: 46vh;
      position: absolute;
      bottom: -5vh;
      left: 50%;
      transform: translateX(-50%);
      
      .left, .right{
        display: block;
        width: 16vh;
        height: 18vh;
        background: lighten($body, 3%);
        border-radius: 50%;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        padding: 2vh;
      }
      
      .left{
        float: left;
        justify-content: flex-start;
      }
      
      .right{
        float: right;
        justify-content: flex-end;
      }
      
      .left:before, .right:before{
          content: "";
          display: block;
          width: 12vh;
          height: 15vh;
          background: #633e1d;
          border-radius: 50%;
      }
    }
  
}

.heart-outer {
   display: block; 
   position: absolute; 
   left: -30px; 
   top: -15px;
   z-index: 99999;
   
   .heart-inner {
      display: inline-block;
      position: relative;
      width: 30px;
      height: 30px;
      margin: 0 10px;
      transform: rotate(-45deg);
      
      &:before,
      &:after {
         content: "";
         position: absolute;
         background-color: inherit;
         border-radius: 50%;
         width: 30px;
         height: 30px;
      }
      &:before {
         top: -15px;
         left: 0;
      }
      &:after {
         left: 15px;
         top: 0;
      }
   }
}

.label{
  display:block;
  text-align:center;
  position: fixed;
  bottom:10px;
  left:0;
  right:0;
  color: $label;
  text-transform:uppercase;
  font-family: 'Inconsolata', monospace;
  cursor: default;
}
